<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-10-12T21:32:03Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mark-4304/Desktop/Objective - C Demo/UI Modal ViewController/UI Modal ViewController.xcodeproj</string>
</dict>
</plist>
